@import '../../styles/mixins';
@import '../../styles/variables';

.header {
  margin-bottom: 2rem;
  border-bottom: 1px solid #dbdbdb;
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .header--logo {
    font-family: "Playfair Display", serif;
    text-decoration: none;
    font-size: 2.2rem;
    @include bp($sm) {
      font-size: 2.4rem;
    }
    @include bp($md) {
      font-size: 3rem;
    }
  }
  .header--cart {
    font-size: 1.3rem;
    text-decoration: none;

    &-icon {
      margin-right: 10px;
      font-size: 1.75rem;
    }
  }
  .badge {
    position: absolute;
    border-radius: 50%;
    right: 2px;
    top: -10px;
    font-size: 0.8rem;
    font-family: sans-serif;
    line-height: 1.2;
  }
}
